:root {
  --light-blue: #EDF9FE;
  --primary: #1C32BB;
  --blue: #2555AB;
  --gray: #5B6069;
  --medium-blue: #1274CE;
  --black: #212427;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('/fonts/Roboto-Italic.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf');
  font-weight: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
}